.default-color0.chart-area-symbol { -fx-background-color: #FF0000, #FFFFFF ;}
.default-color1.chart-area-symbol { -fx-background-color: #0080FF, #FFFFFF ;}
.default-color2.chart-area-symbol { -fx-background-color: #A45D01, #FFFFFF ;}
.default-color3.chart-area-symbol { -fx-background-color: #2BE402, #FFFFFF ;}

.default-color0.chart-series-area-line { -fx-stroke: #FF0000; }
.default-color1.chart-series-area-line { -fx-stroke: #0080FF; }
.default-color2.chart-series-area-line { -fx-stroke: #A45D01; }
.default-color3.chart-series-area-line { -fx-stroke: #2BE402; }

.default-color0.chart-series-area-fill { -fx-fill: #FF8F8F; -fx-opacity: 0.5; }
.default-color1.chart-series-area-fill { -fx-fill: #A9BBFC; -fx-opacity: 0.5; }
.default-color2.chart-series-area-fill { -fx-fill: #FFD484; -fx-opacity: 0.3; }
.default-color3.chart-series-area-fill { -fx-fill: #9EF49A; -fx-opacity: 0.5; }

